@keyframes login{
    0% {
        transform: scaleX(30%);
    }
    /* 25% {
        transform: scale(25%);
    }
    50% {
        transform: scale(50%);
    } */
    100% {
        transform: scaleX(100%);
    }
}

.login{
    transition: .5s;
    animation: 1s login;
}
/* .login:hover{
    transform:rotate3d(1, 0, 0, 20deg);
} */
.brand{
    transition: .9s;
}
.brand:hover{
    transform:rotate3d(1, 1, -1, 25deg) scale(90%);
    transition: .9s;
}
.product-card{
    transition: .9s;
}

.product-card:hover{
    /* transform: scale(90%); */
    transform: rotate3d(1, 1, -1, 25deg) scale(90%);
    transition: 0.95s;
}
.btn:hover{
    transform: scale(90%);
    transition: .9s;
}